/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* FONTS */

@font-face {
  font-family: "Norse Bold";
  src: url(assets/fonts/Norsebold.otf);
}

/* PAGE LAYOUT */

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
}

/* LEFT PANEL */
.image-container {
  position: relative;
  width: 37vw;
}

.background-img-bar {
  display: block;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.image-bar {
  background-color: rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 37vw;
  display: flex;
  position: absolute;
  top: 160px;
  align-items: center;
  justify-content: center;
}

.sidebar-logo {
  top: 25px;
  height: 80%;
}

.credit-p {
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
  text-align: center;
}

.credit-p,
.credit-a {
  color: white;
}

.bar-text {
  color: white;
  font-family: "Norse Bold";
  font-size: 100px;
}

/* RIGHT PANEL */

.data-head {
  height: 360px;
  font-weight: 900;
  font-size: 24px;
  background-color: whitesmoke;
  padding: 180px 50px 50px 50px;
}

.data-container {
  width: 63vw;
}

/* UTILITIES*/

.italic {
  font-style: italic;
}

/* FORM */

.data-main {
  height: 310px;
  background-color: white;
  border: none;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  padding-left: 100px;
  padding-bottom: 30px;
  padding-top: 10px;
  position: relative;
}

.data-footer {
  height: calc(100vh - (360px + 310px));
  background-color: whitesmoke;
  padding-left: 100px;
  padding-top: 50px;
}

.form-title {
  margin-top: 15px;
}

.col-1 {
  margin-right: 100px;
}

.login-p {
  font-size: 18px;
  margin-top: 25px;
}

.head-cta {
  margin-top: 20px;
}

/* INPUTS */
.data-inputs {
  display: flex;
}

label {
  text-transform: uppercase;
  font-weight: 100;
  color: #9a9faa;
}

.input-group {
  margin-top: 25px;
}

input {
  font-size: 16px;
  border: 1px solid #c8ccd5;
  border-radius: 4px;
  display: block;
  height: 30px;
  width: 250px;
}

/* BUTTON */

.submit-btn {
  padding: 15px 50px;
  color: white;
  background-color: #596d48;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

/* LINKS */

.login {
  text-decoration: none;
  color: #596d48;
  font-weight: 900;
}

/* STATES (:focus, :invalid) */

input:user-invalid {
  border-color: red;
}

input:focus {
  border-color: blue;
  box-shadow: 1px 1px grey;
}
